<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/font/iconfont.css">
</head>

<body>
    <div class="topbar-wrapper">
        <div class="topbar w">
            <ul class="service">
                <li><a href="">装修建材商城</a></li>
                <li class="line">|</li>
                <li><a href="">地砖</a></li>
                <li class="line">|</li>
                <li><a href="">墙砖</a></li>
                <li class="line">|</li>
                <li><a href="">吊顶</a></li>
                <li class="line">|</li>
                <li><a href="">柜橱</a></li>
                <li class="line">|</li>
                <li><a href="">灯具</a></li>
                <li class="line">|</li>
                <li><a href="">五金</a></li>
                <li class="line">|</li>
                <li><a href="">窗帘</a></li>
                <li class="line">|</li>
                <li><a href="">卫浴</a></li>
                <li class="line">|</li>
                <li><a href="">电器</a></li>
                <li class="line">|</li>
                <li><a href="">漆面</a></li>
                <li class="line">|</li>
                <li><a href="">房门</a></li>
            </ul>
            <!-- 购物车 -->
            <ul class="shop-cart">
                <li><a href="">
                        <i class="iconfont">&#xe628</i>
                        购物车(0)
                        <!-- <span>
                                    购物车没有商品赶紧选购
                                </span> -->
                    </a></li>
            </ul>

            <ul class="user-info">
                <li><a href="/log">登录</a></li>
                <li class="line">|</li>
                <li><a href="/reg">注册</a></li>
                <li class="line">|</li>
                <li><a href="">消息通知</a></li>
            </ul>
        </div>
    </div>


    <div class="header-wrapper">
        <div class="header w">
            <h1 class="logo" title="图标">
                图标
            </h1>
            <div class="nav-wrapper">
                <ul class="nav clearfix">
                    <li class="all-goods-wrapper">
                        <a class="all-goods" href="#">全部商品分类</a>
                        <ul class="left-menu ">
                            <li class="sj-dhk">
                                <a href="javascript:;">墙砖<i class="iconfont">&#xe7aa</i></a>
                                <!-- <ul class="y"><i></i>
                                    <li class="y-one">
                                        <a href="javascript:;"> <img src="img/phone2.jpg" alt=""><i>小米萨拉睡觉哦的就</i></a>
                                        <a href="javascript:;"> <img src="img/phone3.jpg" alt=""><i>阿苏发的黄瓜我也黑</i></a>
                                        <a href="javascript:;"> <img src="img/phone4.jpg" alt=""><i>我就卡该队请问</i></a>
                                        <a href="javascript:;"> <img src="img/phone5.jpg" alt=""><i>的机会方便给我撒合肥</i></a>
                                        <a href="javascript:;"> <img src="img/phone6.jpg" alt=""><i>对该房屋是过热</i></a>
                                        <a href="javascript:;"> <img src="img/phone7.jpg" alt=""><i>欸我要让她我要</i></a>
                                        <a href="javascript:;"> <img src="img/phone8.jpg" alt=""><i>金卡回复我</i></a>
                                        <a href="javascript:;"> <img src="img/phone9.jpg" alt=""><i>对客人以后还要</i></a>
                                    </li>
                                </ul> -->

                            </li>
                            <li>
                                <a href="#">灯具
                                    <i class="iconfont">&#xe7aa</i></a>
                            </li>
                            <li>
                                <a href="#">电器
                                    <i class="iconfont">&#xe7aa</i></a>
                            </li>
                            <li>
                                <a href="#"> 卫浴
                                    <i class="iconfont">&#xe7aa</i></a>
                            </li>
                            <li>
                                <a href="#">房门
                                    <i class="iconfont">&#xe7aa</i></a>
                            </li>
                            <li>
                                <a href="#">吊顶
                                    <i class="iconfont">&#xe7aa</i></a>
                            </li>
                            <li>
                                <a href="#"> 橱柜
                                    <i class="iconfont">&#xe7aa</i></a>
                            </li>
                            <li>
                                <a href="#"> 墙面
                                    <i class="iconfont">&#xe7aa</i></a>
                            </li>
                            <li>
                                <a href="#">五金
                                    <i class="iconfont">&#xe7aa</i></a>
                            </li>
                            <li>
                                <a href="#"> 水泥 沙子
                                    <i class="iconfont">&#xe7aa</i></a>
                            </li>
                        </ul>
                    </li>
                    <li class="show-goods yi"> <a href="#">墙砖</a>
                        <!-- <ul class="diyi">
                            <li class="one">
                                <a><img src="img/phone2.jpg" alt=""> 小米一
                                    <p>999</p>
                                </a>
                                <a><img src="img/phone3.jpg" alt=""> 小米二 <p>999</p></a>
                                <a><img src="img/phone4.jpg" alt=""> 小米三 <p>999</p></a>
                                <a><img src="img/phone5.jpg" alt=""> 小米四 <p>999</p></a>
                            </li>
                        </ul> -->
                    </li>
                    <li class="show-goods er"> <a href="#">灯具</a>
                        <!-- <ul class="dier">
                            <li class="one">
                                <a><img src="img/phone2.jpg" alt=""> 小米四
                                    <p>999</p>
                                </a>
                                <a><img src="img/phone3.jpg" alt=""> 小米五 <p>999</p></a>
                                <a><img src="img/phone4.jpg" alt=""> 小米六 <p>999</p></a>
                                <a><img src="img/phone5.jpg" alt=""> 小米七 <p>999</p></a>
                            </li>
                        </ul> -->
                    </li>
                    <li class="show-goods"> <a href="#">电器</a></li>
                    <li class="show-goods"> <a href="#">卫浴</a></li>
                    <li class="show-goods"> <a href="#">房门</a></li>
                    <li class="show-goods"> <a href="#">吊顶</a></li>
                    <li class="show-goods"> <a href="#">橱柜</a></li>
                    <li> <a href="#">墙面</a></li>
                    <li> <a href="#">五金</a></li>
                    <!-- 弹出层 -->
                    <div class="tcc"></div>
                </ul>
            </div>

            <div class="ss-wrapper">
                <form action="#">
                    <input class="ss-inp" type="text">
                    <button class="ss-btn"><i class="iconfont">&#xe603</i></button>
                </form>
            </div>

        </div>
    </div>

            <!-- 轮播图 -->
            <div class="banbaner-wrapper"> 
                <div class="banbaner w" id="banbaner">
                    <ul class="img-list" id="imgList">
                    
                        <li><a href="">
                                <img src="/public/img/1.jpg" alt="">
                            </a></li>
                        <li><a href="">
                                <img src="/public/img/2.jpg" alt="">
                            </a></li>
    
                        <li><a href="">
                    </ul>
                    <div class="pointer" id="pointer">
                        <a href="javascript:;"></a>
                    </div>
                    <div class="prev-next">
                        <a class="prev" id="prev" href="javascript:;"></a>
                        <a class="next" id="next" href="javascript:;"></a>
                    </div>
                </div>
            </div>  
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/public/js/lunbotu.js"></script>

</body>

</html>