<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>注册</title>

	<link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
	<!-- particles.js container -->
	<div id="particles-js"></div>
	<div id="wrapper">
		<div>
		
			<h2>方便购买建材材料</h2>
		</div>
		<nav class="switch_nav">
			<a href="javascript:;" id="switch_signup" class="switch_btn on">注册</a>
			<a href="/log" id="switch_login" class="switch_btn">登陆</a>
			<div class="switch_bottom" id="switch_bottom"></div>
		</nav>
		<form method="post" action="">
			<ul class="group_input">
				<li>
					<input type="text" placeholder="姓名" class="name required" id="name" />
				</li>
				<li>
					<input type="text" placeholder="手机号(仅支持中国大陆)" class="mobile required" id="mobile" />
				</li>
				<li>
					<input type="password" placeholder="密码(不少于6位)" class="psd required" id="psd" />
				</li>
			</ul>
			<button type="submit" class="submit_btn" id="btnSubmit" onclick="sendSubmit()">注册账户</button>
			<span class="agreement-tip">点击「注册」按钮，即代表你同意<a href="javascript:;"></a></span>
		</form>

</body>
</html>
